<h1>{{ (category$ | async)?.title || 'Products' }}</h1>

<div class="table-controls">
  <a
    mat-flat-button
    color="primary"
    routerLink="/"
  >
    <mat-icon>keyboard_backspace</mat-icon>
    Category list
  </a>

  <button mat-flat-button color="primary" [routerLink]="['add']">
    <mat-icon>playlist_add</mat-icon>
    Add new product
  </button>
</div>

<ng-container *ngIf="(dataSource$ | async) as dataSource">
  <table mat-table [dataSource]="dataSource" class="table">

    <ng-container matColumnDef="title">
      <th mat-header-cell *matHeaderCellDef> Title </th>
      <td mat-cell *matCellDef="let element">
        <a [routerLink]="[element.id, 'details']" class="link">
          {{ element.title }}
        </a>
      </td>
    </ng-container>

    <ng-container matColumnDef="category">
      <th mat-header-cell *matHeaderCellDef> Category </th>
      <td mat-cell *matCellDef="let element">
        <a [routerLink]="['/', element.category.id, 'products']" class="link">
          {{ element.category.title }}
        </a>
      </td>
    </ng-container>

    <ng-container matColumnDef="price">
      <th mat-header-cell *matHeaderCellDef> Price </th>
      <td mat-cell *matCellDef="let element"> {{ element.price | number }} </td>
    </ng-container>

    <ng-container matColumnDef="expirationDate">
      <th mat-header-cell *matHeaderCellDef> Expiration date </th>
      <td mat-cell *matCellDef="let element"> {{ element.expirationDate | date }} </td>
    </ng-container>

    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef class="actions"> Actions </th>
      <td mat-cell *matCellDef="let element">
        <button mat-icon-button color="primary" [routerLink]="['edit', element.id]">
          <mat-icon>mode</mat-icon>
        </button>
        <button mat-icon-button color="primary" (click)="remove(element)">
          <mat-icon>remove_circle</mat-icon>
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <mat-paginator
    [length]="totalPages$ | async"
    [pageSize]="perPage$ | async"
    [pageSizeOptions]="[5, 10, 25, 100]"
    (page)="handlePageChanges($event)"
  ></mat-paginator>
</ng-container>
