<div class="wrapper">
  <div [formGroup]="authForm" class="form">
    <mat-form-field class="control">
      <mat-label>Enter login</mat-label>
      <input formControlName="login" matInput placeholder="login">
    </mat-form-field>

    <mat-form-field class="control">
      <mat-label>Enter password</mat-label>
      <input formControlName="password" matInput type="password">
    </mat-form-field>

    <button
      mat-button
      class="control"
      color="primary"
      (click)="login()"
      [disabled]="isSubmitDisabled$ | async"
    >Log in</button>
  </div>
</div>
