<ng-container *ngIf="(product$ | async) as product">

  <h1>{{ product.title }}</h1>
  <h2>
    Category:
    <a [routerLink]="['/categories', product.category.id, 'products']">{{ product.category.title }}</a>
  </h2>

  <p>
    <strong>Price: </strong>
    {{ product.price | number }}
  </p>
  <p>
    <strong>Expiration date: </strong>
    {{ product.expirationDate | date }}
  </p>

  <button mat-flat-button color="primary" (click)="edit(product)">
    <mat-icon>mode</mat-icon>
    Edit
  </button>

</ng-container>
