<header class="header" *ngIf="isLogged$ | async">
  <a class="logo" routerLink="/"></a>
  <a routerLink="/categories" class="menu-item link" routerLinkActive="active-link">Categories</a>
  <a routerLink="/products" class="menu-item menu-item--last link" routerLinkActive="active-link">Products</a>
  <button class="logout" mat-icon-button color="primary" (click)="logout()">
    <mat-icon>logout</mat-icon>
  </button>
</header>

<div class="content">
  <router-outlet></router-outlet>
</div>
