.content {
  margin: 0 auto;
  height: 100%;
  max-width: 1280px;
  padding: 16px 24px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  background: url(/assets/vvt-logo.svg) no-repeat 0 100%;
  background-size: 100% 100%;
  display: block;
  height: 60px;
  width: 206px;
  margin: 16px 24px;
}

.logout {
  margin-right: 24px;
}

.menu-item {
  margin-right: 24px;
  font-size: 26px;

  &.active-link {
    text-decoration: underline;
  }

  &--last {
    margin-right: auto;
  }
}
