<button mat-flat-button color="primary" [routerLink]="['add']">
  <mat-icon>playlist_add</mat-icon> Add new category
</button>

<table mat-table [dataSource]="dataSource$ | async" class="table">

  <ng-container matColumnDef="title">
    <th mat-header-cell *matHeaderCellDef> Title </th>
    <td mat-cell *matCellDef="let element">
      <a [routerLink]="[element.id, 'products']" class="link">{{ element.title }}</a>
    </td>
  </ng-container>

  <ng-container matColumnDef="actions">
    <th mat-header-cell *matHeaderCellDef class="actions"> Actions </th>
    <td mat-cell *matCellDef="let element">
      <button mat-icon-button color="primary" [routerLink]="['edit', element.id]">
        <mat-icon>mode</mat-icon>
      </button>
      <button mat-icon-button color="primary" (click)="removeCategory(element.id)">
        <mat-icon>remove_circle</mat-icon>
      </button>
    </td>
  </ng-container>


  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
