<div [formGroup]="productForm" class="form">
  <mat-form-field class="control">
    <mat-label>Title</mat-label>
    <input formControlName="title" matInput placeholder="Title">
    <mat-error *ngIf="productForm.get('title').hasError('required')">
      Please enter a title (<strong>5-40</strong> characters).
    </mat-error>
    <mat-error *ngIf="productForm.get('title').hasError('maxlength')">
      Title must be less than <strong>40</strong>.
    </mat-error>
    <mat-error *ngIf="productForm.get('title').hasError('minlength')">
      Title must be more than <strong>5</strong>.
    </mat-error>
  </mat-form-field>

  <mat-form-field class="control">
    <mat-label>Category</mat-label>
    <mat-select formControlName="category">
      <mat-option *ngFor="let category of categoryList$ | async" [value]="category.id">
        {{ category.title }}
      </mat-option>
    </mat-select>
    <mat-error *ngIf="productForm.get('category').hasError('required')">
      Please select a category.
    </mat-error>
  </mat-form-field>

  <mat-form-field class="control">
    <mat-label>Price</mat-label>
    <input formControlName="price" type="number" matInput placeholder="Price">
    <mat-error *ngIf="productForm.get('price').hasError('required')">
      Please enter a price.
    </mat-error>
    <mat-error *ngIf="productForm.get('price').hasError('min')">
      Price must be more than <strong>0</strong>.
    </mat-error>
  </mat-form-field>

  <mat-form-field class="control">
    <mat-label>Expiration date</mat-label>
    <input formControlName="expirationDate" matInput [matDatepicker]="picker">
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
    <mat-error *ngIf="productForm.get('expirationDate').hasError('required')">
      Please choose an expiration date.
    </mat-error>
    <mat-error *ngIf="productForm.get('expirationDate').hasError('dateIsFuture')">
      Expiration date must be more than <strong>today</strong>.
    </mat-error>
  </mat-form-field>

  <button
    mat-flat-button
    class="control"
    color="primary"
    (click)="save()"
    [disabled]="isSubmitDisabled$ | async"
  >Save</button>
</div>
