/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.table {
  width: 100%;
}

.table-controls {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.table-virtual-viewport {
  height: 500px;
}

.link {
  color: #244796;
  text-decoration: none;
}

.actions {
  width: 90px;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  .control {
    width: 100%;
  }
}

// To remove mat-input[type=number] arrows

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}
