<div [formGroup]="categoryForm" class="form">
  <mat-form-field class="control">
    <mat-label>Title</mat-label>
    <input formControlName="title" matInput placeholder="Title">
    <mat-error *ngIf="categoryForm.get('title').hasError('required')">
      Please enter a title (<strong>5-40</strong> characters).
    </mat-error>
    <mat-error *ngIf="categoryForm.get('title').hasError('maxlength')">
      Title must be less than <strong>40</strong>.
    </mat-error>
    <mat-error *ngIf="categoryForm.get('title').hasError('minlength')">
      Title must be more than <strong>5</strong>.
    </mat-error>
  </mat-form-field>

  <button
    class="control"
    mat-flat-button
    color="primary"
    (click)="save()"
    [disabled]="isSubmitDisabled$ | async"
  >Save</button>
</div>
